@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.lesson_list{
	background-color:#f0f0f0;
}

.lesson_list .lesson_list_wrapper{
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:0px 50px;
	margin:0 !important;
}

.lesson_list .lesson_list_wrapper a{
	text-decoration:none;
	font-weight: bold;
	font-size:130%;
	padding:10px 30px;
	padding-left:50px;
	color:rgb(230, 0, 0);
	margin:15px 0px;
	width:70%;
	border-radius:30px;
	box-shadow:15px 15px 30px 0px rgb(0 0 0 / 7%), -15px -15px 30px 0px rgb(255 255 255 / 80%);
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.lesson_list .lesson_list_wrapper a span{
	color:#333333;
}

.lesson_list .lesson_list_wrapper a span:nth-child(2){
	background-color:rgb(230, 0, 0);
	color:white;
	padding:6px 30px;
	font-size:80%;
	border-radius:5px;
}

.navbar{
	width:100%;
	background-color:#f0f0f0;
	display:flex;
	justify-content:space-between;
	box-shadow:15px 15px 30px 0px rgb(0 0 0 / 7%), -15px -15px 30px 0px rgb(255 255 255 / 80%);
	position:sticky;
	top:0;
	right:0;
	border-inline:2px solid rgb(230, 0, 0);
	z-index:5;
}

.navbar ul li{
	display:inline-block;
	color:#333333;
	padding:6px 12px;
	margin:0px 6px;
	font-weight:bold;
}

.navbar .logo{
	padding:6px 20px;
	font-weight:bold;
	letter-spacing:3px;
}

.footer{
	box-shadow:15px 15px 30px 0px rgb(0 0 0 / 7%), -15px -15px 30px 0px rgb(255 255 255 / 80%);
	padding:15px;
	color:#333333;
	font-weight:600;
	text-align:center;
}

.footer span{
	letter-spacing:1px;
	word-spacing:4px;
	color:#333333;
}

.footer span span{
	font-family: 'Lobster', cursive;
	font-weight:300;
	color:rgb(230, 0, 0);
}


.wrapper{
	min-height:100vh;
	transform-style:preserve-3d;
	perspective:800px;
}

.wrapper .col:first-child{
	transform-style:preserve-3d;
	perspective:800px;
	filter:drop-shadow(3px 3px 3px rgba(0,0,0,0.3));
}

.wrapper .col:first-child img{
	transform:rotateX(20deg) rotateY(15deg) rotate(-30deg) translateZ(50px);
	animation:homeKeyboard 3s linear infinite alternate;
}

#typing_games_news h1{
	font-size:500%;
	transform:translateY(-100px);
	color:rgb(230, 0, 0);
	text-shadow:0px 0px 5px rgba(230, 0, 0, 0.8),4px 4px 0px white,-4px -4px 0px white;
	animation:type_news 1s linear infinite alternate;
}

@keyframes type_news{
	0%{
		text-shadow:0px 0px 5px rgba(230, 0, 0, 0.8),4px 4px 0px white,-4px -4px 0px white;
	}

	100%{
		text-shadow:0px 0px 15px rgba(230, 0, 0, 1),4px 4px 0px white,-4px -4px 0px white;
	}
}



@keyframes homeKeyboard{
	0%{
		transform:rotateX(20deg) rotateY(15deg) rotate(-30deg) translateZ(50px);
	}


	100%{
		transform:rotateX(30deg) rotateY(30deg) rotate(-30deg) translateZ(50px);
	}
}


.wrapper .col:nth-child(2) .title{
	line-height:1.5;
	letter-spacing:3px;
	font-family: 'Lobster', cursive;
}

.wrapper .col:nth-child(2) .tag{
	color:#333333;
	letter-spacing:1px;
	word-spacing:3px;
	line-height:1.5;
}

.wrapper .col:nth-child(2) .start_btn{
	text-decoration:none;
	padding:10px 15px;
	color:white;
	background-color:rgb(230, 0, 0);
	border-radius:5px;
	font-weight:600;
}